<html>
  <div style="text-align:center;width=100%;background-color:rgba(0,125,140,.3);border-bottom:4px solid #007D8C;font-family:Helvetica;margin-bottom:20px">
  <table style="width:100%">
  <col 70%>
  <col 30%>
  <tr>
    <td align="left">
      <p style="color: #007D8C;font-size:100px;padding-left:20px;padding-top:40px;line-height:50%"><b>Berlin</b><br><font style="font-size:40px;color:white;padding-left:6px">Bericht 18/19</font></p>
    </td>
    <td align="right">
      <img src="../2_Assets/airbnb.png" style="width:240px;padding:20px"></img>
    </td>
  </tr>
  </table>
  </div>
</html>

